.mlw-notices
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 2000

.mlw-notices.screen-lock
  height: 100%

.mlw-notice
  display: none

.mlw-notice > div
  display: inline-block
  vertical-align: middle